{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}

<style>
.ddown > a{
    color: #fff;
}
</style>
<nav class="navbar megamenu" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.76), rgba(0,0,0,0.89)), url(https://www.zeitlounge.com/layout/zeitlounge2016/body-bgd.jpg);box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);background-position: right;">
    <div class="container-max">
        <div class="row">
            <div class="brand-wrapper" {% if showHeaderNavBar == "side" %}style="position: relative"{% endif %}>
                <a class="navbar-brand pull-lg-left" href="{{ homepageURL }}">
                    {% if ('http' in companyLogo) or ('layout/' in companyLogo) %}
                        <img alt="{{ companyName }}" src="{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
                    {% else %}
                        <img alt="{{ companyName }}" src="{{ plugin_path('Ceres') }}/{{ companyLogo }}" class="img-fluid" crossorigin="anonymous" />
                    {% endif %}
                </a>

                <button id="btnMainMenuToggler" v-open-mobile-navigation class="navbar-toggler hidden-lg-up" type="button">
                    &#9776;
                </button>
            </div>

            <div id="mainNavbarCollapsable">
                <ul class="breadcrumb">
                    <li class="btnClose"></li>
                </ul>
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {# includeCached('Ceres::PageDesign.Partials.Header.NavigationList.twig') #}
                    {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}
                {% endif %}
            </div>

        </div>
    </div>
</nav>