{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row m-t-3">
                <!-- Article title -->
                <h1 class="h2 title" style="color: #c00; font-weight: 300; font-size: 36px; text-align:center; font-family: font-family: 'Open Sans', sans-serif;">
                    <span>
                        ${ currentVariation | itemName }
                    </span>
                </h1>
            </div>
            
            <div class="row m-t-3">
                <!-- ITEM picture -->
                <div class="col-md-4 m-y-3">
                    <div class="row">
                        <div class="col-xs-12">
                            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
                        </div>
                    </div>
                </div>
                <!-- ITEM DESCRIPTION -->
                <div class="col-md-4 offset-md-1 m-y-3" v-stick-in-parent>
                    {% if ('item.shortDescription' in itemData or 'all' in itemData)%}
                        <p class="single-description" v-if="currentVariation.texts.shortDescription !== ''" v-html="currentVariation.texts.shortDescription"></p>
                    {% endif %}

                    <span v-if="currentVariation.variation.availability" :class="'availability tag availability_' + currentVariation.variation.availability.id">
                        <span>
                            <i aria-hidden="true" class="fa fa-shopping-truck"></i>
                            ${ currentVariation.variation.availability.names.name }
                        </span>
                    </span>

                </div>

                <!-- BUYING SECTION -->
                <div class="col-md-3 m-y-3">
                    
                    <!-- Variation -->
                    <div class="row m-b-1" v-if="variations.length > 0">
                        <variation-select template="#vue-variation-select" :attributes="attributeNameMap" :variations="variations" :preselect="currentVariation.variation.id" @is-valid-change="isVariationSelected = $event"></variation-select>
                    </div>
                    <!-- /Variation -->
                    <!-- Item Bundle -->
                        <item-bundle :bundle-type="currentVariation.variation.bundleType" :bundle-components="currentVariation.bundleComponents"></item-bundle>
                    <!-- /Item Bundle -->
                    <slot name="BeforePrice"></slot>
                    <div class="row" v-if="currentVariation.filter.isSalable && variationGroupedProperties.length">
                        <order-property-list></order-property-list>
                    </div>
                    <graduated-prices template="#vue-graduated-prices"></graduated-prices>
                    {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
                        <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.price.value > 0 && currentVariation.prices.rrp.price.value > currentVariation.prices.default.price.value">
                            <del class="text-muted small">
                                ${ currentVariation.prices.rrp.price.formatted }
                            </del>
                        </div>
                    {% endif %}
                    <span class="price h1">
                        <span ref="variationTotalPrice" :content="currentVariation.prices.default.price.value">
                            ${ variationTotalPrice | currency(currentVariation.prices.default.currency) }
                        </span>
                        <sup>*</sup>
                        <span :content="currentVariation.prices.default.currency"></span>
                    </span>
                    <div class="base-price text-muted m-y-1" v-if="currentVariation.unit">
                        <div>
                            {{ trans("Ceres::Template.singleItemContent") }}
                            <span>${ currentVariation.unit.content | numberFormat }</span>
                            <span>${ currentVariation.unit.names.name }</span>
                        </div>
                        <div v-if="currentVariation.variation.mayShowUnitPrice">
                            {{ trans("Ceres::Template.singleItemUnitPrice") }}
                            <span class="base-price-value">
                                ${ variationGraduatedPrice.basePrice }
                            </span>
                        </div>
                    </div>
                    <slot name="AfterPrice"></slot>
                    
                    <div class="row m-y-1">
                        <slot name="BeforeAddToBasket"></slot>
                        <add-to-basket
                                template="#vue-add-to-basket"
                                v-if="currentVariation.filter.isSalable"
                                :item="$store.state.item.variation.documents[0].data"
                                :show-quantity="false"
                                :missing-order-properties="variationMissingProperties"
                                :is-variation-selected="isVariationSelected"></add-to-basket>
                        <slot name="AfterAddToBasket"></slot>
                    </div>

                    <!-- Preisanfrage -->
                    <div class="m-b-3">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            Preisanfrage
                        </button>
                    </div>

                    <!-- Wunschliste -->
                    {% if "wish-list" in enabledRoutes or "all" in enabledRoutes %}
                        <div class="row">
                            <add-to-wish-list :variation-id="currentVariation.variation.id"></add-to-wish-list>
                        </div>
                    {% endif %}
                    
                    <!-- Artikelnummer -->
                    <div class="m-b-3">
                        <span class="articlenumber small text-muted">
                            <b>{{ trans("Ceres::Template.singleItemNumber") }}</b>
                            <span>${ currentVariation.variation.number }</span>
                        </span>
                    </div>
                        
                        
                    
                    
                </div>
            </div>
            
            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>

        <<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="color: #c00">Preisvorschlag</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>Fragen Sie unverbindlich Ihren persönlichen Vorteilspreis an!
                                Mit diesem Formular können Sie uns Ihren persönlichen Wunschpreis kostenlos und unverbindlich vorschlagen.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form>
                                <div class="form-group row">
                                    <label for="articlenumber" class="col-sm-4 col-form-label">Artikelnummer</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="articlenumber" placeholder="Artikelnummer" value="{{ currentVariation.variation.number }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="articleid" class="col-sm-4 col-form-label">Artikel ID</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="articleid" placeholder="Artikel ID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="price" class="col-sm-4 col-form-label">Preis</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="articleid" placeholder="Preis" value="{{ currentVariation.prices.rrp.price.formatted }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="yourprice" class="col-sm-4 col-form-label">Ihr Preisvorschlag</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="yourprice" placeholder="Ihr Preisvorschlag">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="name" class="col-sm-4 col-form-label">Vor- und Nachname</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="name" placeholder="Vor- und Nachname">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-form-label">E-Mail</label>
                                    <div class="col-sm-8">
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="telefonnumber" class="col-sm-4 col-form-label">Telefonnummer</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="telefonnumber" placeholder="Telefonnummer">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-default" style="background-color: #000;color: #fff;">Preisanfrage senden</button>
                        </div>
                    </div>
                </div>
               
                </div>
            </div>
        </div>
    </div>
</script>